<!DOCTYPE html>
<html>
  <head>
    <title>Ailurus Setup</title>

    <meta charset="UTF8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="static/common/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/setup/setup.css" rel="stylesheet" media="screen">
  </head>

  <body>
    <script src="static/common/js/jquery-2.1.3.min.js"></script>
    <script src="static/common/js/bootstrap.min.js"></script>
    <script src="static/setup/setup.js"></script>

    <div class="masthead">
      <h3> Ailurus Setup </h3>
    </div>
    <div class="site-wrapper">
      <div class="content">
        <h2> Taking you to your device </h2>
        <div class="loader">...</div>
        <p class="info"> Please allow a few minutes for it to start up. If you still see this screen after 5 minutes, make sure that you are on the same network as your device, and check the internet connection. </p>
      </div>
    </div>
  </body>
</html>
